

$turquoise: #2ed7ee;
$darker-turquoise: #2ac6db;

$darker-greenish-blue: #00cca6;

header {

  text-align:center;
  background-color: #eee;
  .wrapped {
    overflow: hidden;
    padding: 60px 0 80px;
    position: relative;
    h1 {
      color: $darker-turquoise;
      font-weight: normal;
    }

    .people {
      position: absolute;
      bottom: -10px;

      left: 50%;
      transform: translateX(-50%);
      .person {
        img {
          height: 64px;
        }
        width: 64px;
        height: 64px;
        border-radius: 32px;
        border: 1px solid #ccc;
        float: left;
        margin-left: -8px;
        display: block;
        overflow: hidden;

      }
    }
  }
}
