* {
  margin: 0;
  padding: 0;
}

body, html {
  background-color: #fcfcfc;
  font-family: Helvetica, Arial;
  padding-bottom: 90px;
}

/* Generic classes */
.pull-left { float:left; }
.act-as-box { overflow: hidden; }

/* /!\ DEV ONLY will see later */
.space-from-top {
	margin-top: 60px;
}

.section {
  padding: 30px 0;
}