
$turquoise: #2ed7ee;
$darker-turquoise: #2ac6db;

$darker-greenish-blue: #00cca6;

.Space {

  .padded-left { padding-left: 15px; }

  h1, h2 { font-weight: normal; }
  h2 { font-size: 30px;}
  h1 { font-size: 50px; margin-bottom: 20px;}

  .pictures {
    display: flex;
    flex-flow: row;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;

    .mask {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 200px;
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(253,253,253,1) 74%,rgba(252,252,252,1) 99%);
    }

    img {
      height: 250px;
      margin-right: 20px;
    }
  }

  h3 {
    color: #999;
    font-size: 15px;
    margin-bottom: 15px;
  }

  .people {
    display: flex;
    margin-bottom: 30px;

    .person {
      text-decoration: none;

      &.expanded {
        .time-short-version {
          opacity: 0;
        }
        .details {
          width: 200px;
        }
      }

      .time, .time-short-version {
        color: $darker-greenish-blue;
      }

      .picture {
        position: relative;
        margin-right: 10px;
        width:64px;
        height: 64px;
        float:left;

        .img {
          height: 64px;
          border-radius: 32px;
          overflow: hidden;
          img {
            height: 64px;
          }
        }

        .time-short-version {
          z-index: 5;
          width: 100px;
          position: absolute;
          top: 2px;
          left: 30px;
          font-size: 13px;
          background-image: linear-gradient(to right, rgba(242,242,242,1) 0%,rgba(152,198,234,0) 76%,rgba(125,185,232,0) 99%);
          opacity: 1;
          transition: opacity 250ms ease-out;
          // background-color: rgba(0, 0, 0, 0.6);
        }
      }

      .details {
        .name, .title, .time { display: block; }
        .name {
          color: $darker-turquoise;
        }
        .title {
          color: #999;
          margin-bottom: 5px;
        }
        .time {
          font-size: 14px;
        }

        overflow: hidden;
        width: 0;
        transition: width 250ms ease-out;
        .inner {
          width: 200px;
        }
      }
    }
  }

  .schedule {
    .text {
      font-size: 28px;
      line-height: 36px;
      color: #999;
      margin-bottom: 10px;
    }
    .currentStatus {
      color: #aaa;
      transition: color 250ms ease-out;
      margin-bottom: 30px;
    }
    &:hover .currentStatus {
      color: $darker-greenish-blue;
    }
  }


  .events {
    .event {
      padding: 30px;
      border: 1px solid #aaa;
      border-radius: 4px;
      float: left;
      margin-right: 15px;

      .title {
        text-align: center;
        font-size: 17px;
      }

      .when {
        font-size: 14px;
      }
    }
  }
}
