
$turquoise: #2ed7ee;
$darker-turquoise: #2ac6db;

$darker-greenish-blue: #00cca6;

.Space {

  .padded-left { padding-left: 15px; }

  h1, h2 { font-weight: normal; }
  h2 { font-size: 30px;}
  h1 { font-size: 50px; margin-bottom: 20px;}

  .pictures {
    display: flex;
    flex-flow: row;
    position: relative;
    overflow: hidden;

    .mask {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 200px;
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(253,253,253,1) 74%,rgba(252,252,252,1) 99%);
    }

    img {
      height: 250px;
      margin-right: 20px;
    }
  }

  .schedule {
    .text {
      font-size: 28px;
      line-height: 36px;
      color: #444;
      margin-bottom: 10px;
    }
    .currentStatus {
      color: #aaa;
      transition: color 250ms ease-out;
      margin-bottom: 30px;
    }
    .currentStatus.open {
      color: $darker-greenish-blue;
    }
  }


  .events {
    .event {
      padding: 30px;
      border: 1px solid #aaa;
      border-radius: 4px;
      float: left;
      margin-right: 15px;

      .title {
        text-align: center;
        font-size: 17px;
      }

      .when {
        font-size: 14px;
      }
    }
  }
}
